#intro{
       background-color:#FFA64D;
       text-align:center;
}
#lists{
       background-color:#00FFF7;
    	font-family: 'Indie Flower', cursive;
   
}


#picture{
         background-color:#00FF77;
    
}

h3{
font-family: 'Indie Flower', cursive;
}

body{
	background-color:#00FFF7 
      font-family: 'Indie Flower', cursive;   
}
#fernando{
         font-family: 'Indie Flower', cursive;
}``  




