h1 {
  font-family: 'Lobster', cursive;
}
#mainT{
  font-size: 10vw;
  padding-top: 12vw;
  margin: 0;
  
}
body, p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #258cd1;
  text-align: center;
  font-size: 2vw;
  margin: 0;
}
a{
  text-decoration: none;
  color: #bc62ae;
  font-weight: 400;
}
#navbar >li{
  display: inline-block;
  list-style-type: none;
  padding: 1vw 3vw;
  font-size: 2vw;
  color: #258cd1;
}
#navbar {
  background-color: #141717;
}
h2 {
  font-family: 'Lobster', cursive;
  margin: 0vw;
  padding: 1vw;
  
}
html, body {
  max-width: 100%;
  overflow-x: hidden;
}
#intro >p{
  font-size: 2.5vw;
}
hr {
  width: 15vw;
  display: inline-block;
}
