h1 {
  font-family: 'Lobster', cursive;
}
#mainT{
  font-size: 10vw;
  padding-top: 9vw;
  margin: 0;
  
}
body, p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #258cd1;
  text-align: center;
  font-size: 2vw;
  margin: 0;
}
a{
  text-decoration: none;
  color: #bc62ae;
  font-weight: 400;
}
#navbar >li{
  display: inline-block;
  list-style-type: none;
  padding: 1vw 3vw;
  font-size: 2vw;
  color: #258cd1;
}
#navbar >li a{
  color: #258cd1;
}
#navbar {
  background-color: #141717;
}
html, body {
  max-width: 100%;
 overflow: -moz-scrollbars-vertical;
    overflow-x: hidden;
}
#intro >p{
  font-size: 2vw;
}
hr {
  width: 15vw;
  display: inline-block;
}
#button {
  background-color: #258cd1;
  padding: 1vw;
  border-radius: 1vw;
  font-family: 'Lobster', cursive;
  font-size: 4vw;
  color: white;
}
.info>p {
  padding-left: 7vw;
  text-align: left;
}
.info{
  padding: 4vw 0;
}
.info:nth-child(even){
  background-color: #D3E8F6;
}
.info:nth-child(odd){
  background-color: #E1E7EA;
}
#map{
  position: relative;
}
#loc{
  position: absolute;
}
