h1 {
  font-family: 'Lobster', cursive;
  font-size: 5vw;
}
#mainT{
  font-size: 10vw;
  padding-top: 9vw;
  margin: 0;
}
.wrapper{
  margin: 1em 0em;  
}
body, p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #258cd1;
  text-align: center;
  font-size: 2vw;
  margin: 0;
}
a{
  text-decoration: none;
  color: #bc62ae;
  font-weight: 400;
}
#navbar >li{
  display: inline-block;
  list-style-type: none;
  padding: 1vw 2vw;
  font-size: 2vw;
  color: #258cd1;
}
#homeIcon{
  height:3vw;
}
#navbar >li a{
  color: #258cd1;
}
#navbar {
  background-color: #141717;
  z-index: 999;
  padding-left:0;
}
html, body {
  max-width: 100%;
  overflow: -moz-scrollbars-vertical;
  overflow-x: hidden;
}
#intro >p{
  font-size: 2vw;
}
#intro video{
  position:relative;
  z-index:0;
  width:100vw;
  margin-top:-15vw;
  
}
#intro #overlay{
  position: absolute;
  top: 0vw;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 41vw;
  background-color: rgba(0,0,0,0.8);
}
hr {
  width: 15vw;
  display: inline-block;
}
#button {
  background-color: #258cd1;
  padding: 1vw;
  border-radius: 1vw;
  font-family: 'Lobster', cursive;
  font-size: 4vw;
  color: white;
  padding-top:0;
}
.info>p {
  padding-left: 7vw;
  text-align: left;
}
.info{
  padding: 4vw 0;
}
.info:nth-child(even){
  background-color: #D3E8F6;
}
.info:nth-child(odd){
  background-color: #E1E7EA;
}
#map{
  width:100%;
  height:49vw;
}
#loc{
  position: absolute;
  background-color: #D3E8F6;
  z-index: 5;
  top: 4vw;
  left: 13vw;
  width: 73vw;
}
span{
  cursor: pointer;
}

#days>div>.title{
  font-size: 3vw;
}
#d2i, #d3i, #d4i, #d5i{
  display: none;
}

#dList>li {
  width: 3vw;
  height: 3vw;
  text-align: center;
  line-height: 3vw;
  border-radius: 3vw;
  background: rgba(37,140,209,0.7);
  margin: 0 2vw;
  display: inline-block;
  color: white;
  position: relative;
  cursor: pointer;
}

#dList>li::before{
  content: '';
  position: absolute;
  top: 1.5vw;
  left: -4.5vw;
  width: 4.5vw;
  height: .25vw;
  background: rgba(37,140,209,0.7);
  z-index: 0;
}
#days>div>ul>li{
  text-align: left;
  margin-left: 7vw;
}

#dList>li:first-child::before {
  display: none;
}

#dList>.active {
  background: rgb(37,140,209);
}

#dlist>.active ~ li {
  background: rgb(37,140,209);
}

.active ~ li::before {
  background: rgb(37,140,209);
}
#why{
  background: url("../img/intelChip.jpg") fixed;
}
#apply{
  background: url("../img/chip2.jpg") fixed;
}
#why:after{
  background-color: rgb(0,0,0,0.8);
}

#where{
  padding:0;
}
#why>ul>li{
  list-style-type: none;
  display: inline-block;
  width: 28vw;
}
.number{
  font-family: "Lobster", cursive;
  font-size: 10vw;
  color: #FFF;
}
#quote{
  font-size: 3vw;
  color: white;
}
#person{
  text-align: right;
  padding-right: 7vw;
}
#source {
  font-size: 1vw;
}

#apply>#button{
  font-size:15vw;
}
#logoW>img{
  margin: 0vw 3vw;
  cursor: pointer;
  height: 8vw;
}
#logoW{
  position: relative;
  border-bottom: 1px solid #000;
  width: 45vw;
  margin: auto;
}
#logoW:before, #logoW:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-bottom: 0;
}

#logoW:before {
  bottom: -16px;
  left: 16%;
  border-top-color: #000;
  border-width: 16px;
}

#logoW:after {
  bottom: -15px;
  left: 16.05%;
  border-top-color: #D3E8F6;
  border-width: 15px;
}
#logoW.l3:after{
  left: 78.05%;
}
#logoW.l3:before{
  left:78%;
}
#logoW.l1:before{
  left: 16%;
}
#logoW.l1:after{
  left:16.05%;
}
#logoW.l2:before{
  left:47%;
}
#logoW.l2:after{
  left:47.05%;
}
#w2, #w3{
  display:none;
}
#p1{
  position: relative;
  top: -16vw;
  width: 31vw;
  padding-left:0;
  text-align:center;
  display: inline-block;
  opacity:0;
}
#p2{
  position: relative;
  top: -20vw;
  text-align: center;
  padding-left:0;
  display: inline-block;
  opacity:0;
}
#girlW{
  display: inline-block;
}
