div {color:#9966ff;}
#div2 {color:#3333cc;}
#div3 {color:#ff0066;}
#div4 {color:#00cc66;}
#div1 {background-color:#ccccff;}
#div2 {background-color:#8484e1;}
#div3 {background-color:#ff99ff;}
#div4 {background-color:#99ffcc;}
body
    {background-color:#000000;}
body
{font-family: 'Poiret One', cursive;}

