#intro{
	background-color:orange;
	text-align:center;
(RGB color picker) background-color: hex: #3330066
		  red: 51
		  green: 0
		  Blue: 102
		(RGB) [51,0,102]

}
font-size:30;

GoogleFonts
<link href='http://fonts.googleapis.com/css?family=Poiret+One|PT+Sans+Narrow|Shadows+Into+Light|Pacifico|Indie+Flower|Press+Start+2P' rel='stylesheet' type='text/css'>