div {color:black;}
h1 {color:teal;}
#div1 {color:1DB582;}
#div2 {color:562CFA;}
#div3 {color:FA2C93;}
h1 {background-color:#00FFFF;}
h1 {font-family: 'Oswald', sans-serif;}
p{font-family: 'Slabo 27px', serif;}
