div {color: magenta;}
#div1 {color : 66FFB2;}
#div2 {color : FF3399;}
#div3 {color : 00FFFF;}
#div4 {background-color: 66FFB2;}
#div2 {background-color: 00FFFF;}
#div1 {background-color: FF3399;}
#div3 {background-color:magenta;}
body {font-family: 'Indie Flower', cursive;}