div {color: blue;}
#div1 {color :04BCFF;}
#div2 {color :Magenta;}
#div3 {Color : 33ff33;}
#div1 {background-color: c0c0c0}
#div2 {background-color: c0c0c0}
#div3 {background-color: c0c0c0}
#div4 {background-color: c0c0c0}


