#div1 {color: red;}
#div2 {color: orange;}
#div3 {color: gold;}
#div4 {color: #369B1D;}
#div1 {background-color:#16FAF3}
#div2 {background-color:#16FAF3}
#div3 {background-color:#16FAF3}
#div4 {background-color:#16FAF3}
body{font-family: 'Poiret One', cursive;}
