#intro{
	background-color:blue;
}
#unorderedlist{
	background-color:#862121;
}
#orderedlist{
	background-color:rgb(0,255,0);
}
h1{
  color: red;
  text-align: center;
  font-size: 150;
  font-family: 'Press Start 2P', cursive;
}
body{
	color:black;
	font-size:60;
}
p{
	font-size:60;
}
.pic{
	length:500;
	width:500;