#intro{
        background-color:37D0DB;
} 


#Lynx{
        background-color:37D0DB;
       
}


#list{
        background-color:37D0DB;
}


#first{
        background-color:37D0DB;
}


p{
        font-size:25;