#intro{
	background-color:pink;
	text-align:center
}

#paragraph{
	background-color:#CC99FF;
}

body{
	font-family: 'Gochi Hand', cursive;
	font-size: 30;
	background-color:#CC99FF;
}

h1{
	font-size: 60;
}