#Intro{
	background-color:#7F00FF;
		text-align:center;
	
}

#me{
	background-color:#CC99FF;
		font-size:20;
}

#about{
	background-color:#CC99FF;
		font-size:20;
}

#freinds{
	background-color:#CC99FF;
		font-size:20;
}

body{
	background-color:#E5CCFF;
		font-family: 'Yanone Kaffeesatz', sans-serif;
}

#little{
	text-align:center;
		background-color:#7F00FF;
		
}

#cow{
	text-align:center;
		background-color:#7F00FF;
		
}

#cowpic{
	text-align:center;
		background-color:#00FF80;
}

#this{
	text-align:center;
		background-color:00FF80
}

H1{
	font-family: 'Pacifico', cursive;
}

H3{
	font-family: 'Pacifico', cursive;
}

#more{
	font-size:20;
		background-color:CC99FF;	
}

#cool{
	background-color:00FF80;
}

#copy{
	font-size:20;
		background-color:CC99FF;
}

#crazy{
	text-align:center;
		background-color:#7F00FF
}

#crazycow{
	text-align:center;
		background-color:#00FF80
}

	