div {color:indigo;} 
#div1 {color :6103EE;}
#div2 {color :D24317 ;}
#div3 {color : Cyan;}
body { 
    background: #00ff01 url("smiley.gif") no-repeat fixed center;

font-family: 'Rock Salt', cursive;
 
}

