#div1 {color: A574CC;}
#div2 {color : 90D4D3;}
#div3 {color:74CCA3;}
#div4 { color: C983AC;}
#div1 {background-color:F7A3D0;}
#div2 {background-color: 20E6B4;}
body{font-family: 'Indie Flower', cursive;}