#HomePage{
	background-color:#99FFFF;
	text-align:center;
}
#openingstatement{
	background-color:#99FFFF;
}
#UnorderedList{
	background-color:#99FFFF;
	font-family: 'Shadows Into Light', cursive;	
}
#Mostimpotrantpeopleinstitchslife,#OrderedList>h1,#FunFacts>h1,#UnorderedList>h1 {	
	font-family: 'Shadows Into Light', cursive;
	font-size:24;
	position: relative;
  	width: 46%;
  	margin: 0;
  	display: inline-block;
}
#OrderedList{
	Background-color:#99FFFF;
	  position: absolute;
 	 width: 100%;
}
#image{
	text-align:center;
}
body{
	background-color:#99FFFF;
}
p{
	font-family: 'Shadows Into Light', cursive;
	font-size:24;
}
#alohafromhawaii{
	length:200;
	width:200;
}
.pic{
	width: 151px;
  	height: 139px;
}
#ohana{
	font-family: 'Indie Flower', cursive;
}
#oFirst,#Mostimportantpeopleinstitchslife{
	position: relative;
  	width:46%;
 	margin:0;
 	display: inline-block;
	padding-top: 25px
}
#o2,#stitchfamily{
	position: relative;
 	display: inline-block;
  	vertical-align: top;
  	height: initial;
  	margin-top: 72px;
}
#stitchfamily{
	margin-top:0;
	height:65;
	width:75;
}
#dancing{
	height:200;
	width:300;
}
#collage{
	height:200;
	width:300;
}
#hammock{
	height:200;
	width:300;
}
#stitchohana{
	height:200;
	width:300;
	text-align:center;
}
#wrapper{
	position:absolute;
	width:100%;
}

