#intro{
	background-color:lavender;
	text-align:center;
	font-family:'Dancing Script', cursive;
}
#SpringBreak{
	background-color:yellow;
	text-align:left;
	font-family:'Chewy', cursive;
}
#day1{
	background-color:red;
	text-align:left;
	font-family:'Poiret One', cursive;
}
#unorderedlist{
	background-color:chartreuse;
	text-align:left;
	font-family:'Architects Daughter', cursive;
}
#orderedlist{
	background-color:turquoise;
	text-align:left;
	font-family:'Indie Flower', cursive;
}
#day2{
	background-color:blue;
	text-align:left;
	font-family: 'Pacifico', cursive;
}
#day3{
	background-color:coral;
	text-align:left;
	font-family: 'Amatic SC', cursive;
}
#googlelink{
	background-color:cyan;
	text-align:left;
	font-family:'Dancing Script', cursive;