#div1 {color : 15FF00;}
#div2 {color : FF00EE;}
#div3 {color : 00FFFB;}
#div4 {color : FFB52B;}
#div1 {background-color: 9D00FF;}
#div2 {background-color: 00FF8C;}
#div3 {background-color: FF0095;}
#div4 {background-color: 00D5FF;}
body {font-family: 'Oswald', sans-serif;}