#intro{
	background-color:rgb(255,240,245);
}
#unorderedlist{
	background-color:#E0FFFF;
}
body{
	background-color:#FFFFE0;
}
#orderedlist{
	background-color:#FFA07A
}
h1{
	font-family:'open sans condensed', cursive;
}
body{
	font-family:'open sans condensed', cursive;
}
